@charset "utf-8";

body { background-color: #041d55;}

.webix_view { background-color: transparent;}
.webix_window,
.webix_window .webix_view { background-color: #fff;}
.webix_window.has_background { background-color: #041d55;}
.webix_window.has_background .webix_view { background-color: transparent;}
.sider_bg { background-color: #ccc;}
.no_border .webix_column>div,
.no_border .webix_table_cell,
.no_border .webix_ss_header td { border-color: transparent;}
.webix_dd_drag_column, .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header { background-color: #001448; color:#eee;}
.webix_property_label {color:#eee;}
.webix_property_value {color:#672701;}
.webix_property_label, .webix_property_value {font-size:12px;height: 20px; line-height: 20px;border: none;}
.webix_property_line {min-height: 20px;}
.webix_hcell, .webix_cell {font-size:12px;}
.webix_cell {color:#672701;}
.webix_window {box-shadow: none;}
.webix_el_button button {text-align: center;}
.webix_el_button .webix_icon { margin-left:0;}
.webix_column>div.webix_cell_select, .webix_column>div.webix_column_select, .webix_column>div.webix_row_select {background-color: #2489cc;}


.fas {cursor: pointer;}
.fas.normal { color: #ccc !important; }
.fas.linked { color: #399 !important; }
.fas.error { color: #f00 !important; }

.fas { font-family: FontAwesome; font-style: normal; }
.webix_cell .fas {color:#eee;}
.webix_template, .webix_el_label { padding:0;}

.loading {}
.loading i {display: inline-block; width:10%; height: 20px;text-align: center;}
.loading i:after {content:''; display: inline-block; height: 100%; width: 90%; background-color: #ccc;}
.loading i.loaded:after {background-color: #b8c726;}
.loading .spacer {height:5px; background-color: #eee;}

.link ul {list-style: none;padding:0;margin:0;}
.link li {width:150px;height:150px;float:left;background-image:url(../imgs/link1.png);}
.link li:hover {background-image:url(../imgs/link2.png);cursor: pointer;}
.link li:nth-child(1) {background-position: 0 0;}
.link li:nth-child(2) {background-position: -150px 0;}
.link li:nth-child(3) {background-position: 0 -150px;}
.link li:nth-child(4) {background-position: -150px -150px;}

.gauge ul {list-style: none;padding:0;margin:0;}
.gauge li {width:200px;height:200px;float:left;}

.sensorStatus ul {list-style: none;padding:0;margin:0;}
.sensorStatus li {width:50px;height:50px;float:left;text-align: center; vertical-align: middle; display: table-cell;}
.sensorStatus i {font-size:38px; color:#eee;}

.settings i {font-size:24px;}